{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="row justify-content-center mt-3">

    <div class="col-6">

      {% if message %}
      <div class="my-2 alert alert-{{ messageType }} alert-dismissible fade show" role="alert"
        style="width: 30rem; margin: 0 auto;">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}

      <a href="/" class="float-right mb-3">Back to the lists</a>

      {% for item in items %}
      <div class="input-group my-2">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" name="c{{item.id}}" aria-label="Check item if it is done" {% if item.status %}
              checked value="clicked" {% endif %}>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Item with a checkbox" readonly value="{{ item.task }}">
      </div>
      {% endfor %}

      <form action="" method="post" name="addItem">
        {% csrf_token %}
        <div class="input-group my-2">
          <input type="text" class="form-control" placeholder="Enter a new item to the list"
            aria-label="Enter a new item to the list" aria-describedby="basic-addon2" name="newItemName">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Add</button>
          </div>
        </div>
        <a href="" name="saveItems" class="btn btn-outline-primary my-2 float-right">Save Changes</a>
      </form>


    </div>
  </div>

</div>

{% endblock %}